html {
  scroll-behavior: smooth;
}

body {
  background-color: #dee6e0;
}

.navbar {
  padding: 50px;
  background-color: #a7d7c5;
}

.navbar-brand {
  font-size: 40px;
}

.dropdown-item {
  padding: 10px 15px;
  margin: 0 10px;
}

.nav-item {
  padding: 0 10px;
  font-size: 20px;
}

.dropdown_heading {
  padding: 40px 0 20px 0;
  margin: 0 0 20px 90px;
}

.dropdownbutton:hover .dropdown-menu {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  animation: scaleDown 500ms ease-in-out forwards;
  transform-origin: top center;
  background-color: #74b49b;
  color: #121212;
}

@keyframes scaleDown {
  0% {
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

.dropdownbutton:hover .dropdown-item {
  width: fit-content;
  height: fit-content;
  animation: translatex 2s ease-in-out forwards;
  transform-origin: top center;
}

@keyframes translatex {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.dropdown-item:hover {
  background-color: #afc4bc;
  cursor: pointer;
}

.subhead:hover {
  background-color: transparent;
}

.booksdropdown {
  width: max-content;
}

.col {
  width: max-content;
  margin: 0 100px 20px 100px;
  padding: 20px 10px;
}

#second_col,
#first_col {
  margin-left: 20px;
  border-style: none none none solid;
  border-color: rgb(70, 70, 70);
  border-width: 0.1em;
}

#first_col {
  margin-left: 90px;
}


.about_li,
.support_li {
  right: 50px;
  text-align: center;
}

#about_items {
  margin-right: 120px;
}

#support_items {
  margin-left: 125px;
}

.slidingOuterCon {
  width: 100%;
  height: 480px;
  overflow: hidden;
  margin: 100px 0 auto;
  display: flex;
  background-color: #74b49b;
}

.slidingBackground {
  display: flex;
  position: relative;
  padding-left: 100px;
  width: 300%;
  height: 450px;
  animation: slide 100s linear infinite;
  justify-content: space-around;
  justify-items: baseline;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-70%);
  }

  100% {
    transform: translateX(0%);
  }
}

.slidingBackground:hover {
  animation-play-state: paused;

}

.topsells {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}

.topbooks,
.popbooks {
  justify-content: space-around;
}

#topbooks_img,
#popbooks_img {
  margin: 30px;
  padding: 30px;
  background-size: cover;
  width: 450px;
  height: 333px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

.topbooks_name,
.popbooks_name {
  margin-left: 30px;
  width: 450px;
  height: 170px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
}

.books_description,
.description_photosList {
  margin: 70px 0 0 0;
  padding: 0;
  width: 40%;
  height: 800px;
}

.description_photosList {
  width: 60%;
}

.description_text h1 {
  padding: 0 0 10px 60px;
  font-size: 70px;
  border-style: none none dashed none;
  border-color: rgb(70, 70, 70);
  border-width: 0.03em;
}

.description_text p {
  padding: 70px 40px 0 60px;
  font-size: 30px;
  letter-spacing: 2.5px;
}

.description_img {
  background-size: cover;
  padding-left: 20px;
  width: 911px;
}

.description_photosList{
  overflow: hidden;
}

.buybuttons {
  padding: 50px 0 0 60px;
}

.buybutton {
  padding: 10px 40px;
  margin-right: 30px;
}

.popular_container {
  padding: 30px 0 50px 0;
}

.popular_container h1 {
  padding: 80px 0 30px 0;
  text-align: center;
  font-size: 60px;
}

#popular_outer {
  margin-top: 0;
  padding-bottom: 100px;
  height: 600px;
}

#popbooks {
  background-color: #121212;
}

.whatsNew_row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3000px;
}

.whatsNew_col1 {
  padding: 0;
  margin: 0;
}

.whatsNew_col2 {
  padding: 0;
  margin: 0;
}

.whatsNew_col2_img {
  width: 633px;
  height: 800px;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: url("https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Ym9va3N8ZW58MHwxfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.whatsNew_col2_text {
  position: sticky;
  top: 500px;
  padding: 10px 0 10px 100px;
  background-color: rgba(255, 254, 254, 0.384);
  backdrop-filter: blur(3px);
}

.extra {
  height: 1000px;
}
